.mobile{
    display: none !important;
}

.reviews-wrap .slider .item .top .description a {
    color: #ea5b0c;
}

.reviews-wrap .slider .item .top .description a:hover {
    text-decoration: underline;
}

.reviews-wrap .slider .item .top .img {
    min-height: 64px;
}

.reviews-wrap .slider .item .top .img img {
    max-height: 64px;
    width: auto;
    margin: 0 auto;
    max-width: 190px;
    transition: .3s;
}

.reviews-wrap .slider .item .top .img a img:hover {
    transform: scale(1.1);
}

.form-wrap .form-innerWrap .left .form .input-wrap textarea {
    width: 100%;
    margin-top: 10px;
    background: #FFFFFF;
    border-radius: 26px;
    padding: 20px 26px;
    outline: none;
    border: 1px solid transparent;
}

input.wpcf7-form-control.wpcf7-submit.btn {
    border: 0;
}

.wpcf7 .ajax-loader {
    display: none !important;
}

.error-message {
    display: none;
}

.error-message.show {
    display: block;
}

.hidden {
    display: none;
}

.wpcf7-not-valid-tip {
    display: none;
}

.new-wrap .new-inner .info .img img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.popup .form-box .form-box-wrap .btn {
    text-transform: uppercase;
}



.brands-wrap .brand-info .item.markets .img-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.brands-wrap .brand-info .item.markets .img-wrap span {
    display: flex;
    height: 34px;
    width: 34px;
    position: absolute;
    cursor: help;
}

.brands-wrap .brand-info .item.markets img {
    margin-right: 8px;
    border-radius: 4px;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: auto;
    left: 0;
    top: 0;
    background: #444444;
    color: #fff;
    padding: 0.5em;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
    white-space: nowrap;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: -36px;
}

[data-tooltip]::before {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 12px;
    top: 0;
    background: #444444;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
    content: "";
    z-index: 9999;
    transform: rotate(45deg);
}

[data-tooltip]:hover::before {
    opacity: 1;
    top: -11px;
}


.grecaptcha-badge {
    display: none!important;
}

.chart-wrap .bottom-text {
    margin-top: 100px;
}


.chart-wrap .chat-innerWrap .item {
    flex: 0 0 calc(16% - 48px);
}

.brands-wrap .brand-info .item span {
    text-align: center;
}

.brands-wrap .brand-info .item {
    text-align: center;
}

.brands-wrap .brand-info .item.markets .img-wrap {
    max-width: 100%;
    justify-content: center;
}

/** Preloader **/

.smart-page-loader {
    background-color: #070325;
    width: 100%;
    height: 100%;
}

.loader-container {
    font-size: 30px;
    width: 132px;
    height: 132px;
    /* background: #1E0049; */
    /* background: radial-gradient(#1a013f, #070325 80%); */
    display: none;
    text-align: center;
    border-collapse: collapse;
    vertical-align: top;
    margin: 0 auto;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.loader-wrap {
    width: 100%;
    max-width: 69px;
    min-width: 69px;
    min-height: 60px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    -webkit-animation: wrap 4s infinite;
    animation: wrap 4s infinite;
}

.loader-wrap div {
    background-color: #ea5b0c;
    height: 100%;
    width: 13.64px;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 3.49px;
    display: block;
}

@-webkit-keyframes wrap {
    0%, 60% {
        transform: rotate(0deg) scale(1);
    }

    65%, 75% {
        transform: rotate(-20deg) scale(1.2);
    }
    96%, 100% {
        transform: rotate(20deg) scale(0);
    }
}

@keyframes wrap {
    0%, 60% {
        transform: rotate(0deg) scale(1);
    }

    65%, 75% {
        transform: rotate(-20deg) scale(1.2);
    }
    96%, 100% {
        transform: rotate(20deg) scale(0);
    }
}

.loader-wrap .item-1 {
    height: 32.85px;
    background-color: #ea5b0c;
    -webkit-animation: blockA 4s infinite;
    animation: blockA 4s infinite;
}

@-webkit-keyframes blockA {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    0%, 96% {
        opacity: 1;
    }
    11%, 25% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}

@keyframes blockA {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    0%, 96% {
        opacity: 1;
    }
    11%, 25% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}

.loader-wrap .item-2 {
    height: 36.93px;
    -webkit-animation: blockB 4s infinite;
    animation: blockB 4s infinite;
}

@-webkit-keyframes blockB {
    0%, 10% {
        opacity: 0;
        transform: scale(0);
    }
    11%, 96% {
        opacity: 1;
    }
    21%, 35% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}

@keyframes blockB {
    0%, 10% {
        opacity: 0;
        transform: scale(0);
    }
    11%, 96% {
        opacity: 1;
    }
    21%, 35% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}

.loader-wrap .item-3 {
    height: 38.34px;
    -webkit-animation: blockC 4s infinite;
    animation: blockC 4s infinite;
}

@-webkit-keyframes blockC {
    0%, 20% {
        opacity: 0;
        transform: scale(0);
    }
    21%, 96% {
        opacity: 1;
    }
    31%, 45% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}

@keyframes blockC {
    0%, 20% {
        opacity: 0;
        transform: scale(0);
    }
    21%, 96% {
        opacity: 1;
    }
    31%, 45% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}

.loader-wrap .item-4 {
    height: 37.01px;
    -webkit-animation: blockD 4s infinite;
    animation: blockD 4s infinite;
}

@-webkit-keyframes blockD {
    0%, 30% {
        opacity: 0;
        transform: scale(0);
    }
    31%, 96% {
        opacity: 1;
    }
    45%, 50% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}

@keyframes blockD {
    0%, 30% {
        opacity: 0;
        transform: scale(0);
    }
    31%, 96% {
        opacity: 1;
    }
    45%, 50% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}

.loader-wrap .item-5 {
    width: 33.69px;
    height: 13.64px;
    margin-left: auto;
    -webkit-animation: blockE 4s infinite;
    animation: blockE 4s infinite;
}

@-webkit-keyframes blockE {
    0%, 40% {
        opacity: 0;
        transform: scale(0);
    }
    41%, 96% {
        opacity: 1;
    }
    55%, 60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}

@keyframes blockE {
    0%, 40% {
        opacity: 0;
        transform: scale(0);
    }
    41%, 96% {
        opacity: 1;
    }
    55%, 60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}


