[is='flynt-grid-services'] {
  .offer-wrap{
    padding: 72px 0 190px;
    .main-title{
      max-width: 796px;
    }

    .owl-dots{
      margin-top: 24px;
      width: 100%;
    }

    .owl-item{
      height: 100%;
      .item{
        height: 100%;
      }
    }

    .item-wrap{
      margin-top: 120px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .item{
        background: #FFFFFF;
        border-radius: 20px;
        padding: 48px 40px 42px;
        text-align: center;
        flex: 0 0 calc(33.3% - 13px);
        &:hover{
          .btn{
            opacity: 1;
            visibility: visible;
          }
        }
        .img{
          width: 220px;
          margin: auto;
          img{
            width: 100%;
          }
        }

        .title{
          margin-top: 48px;
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 110%;
          text-transform: uppercase;
          color: #1B1B1B;
        }

        .description{
          margin-top: 16px;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 18px;
          color: #1B1B1B;
          p{
            margin-top: 16px;
            a{
              color: #F2CD55;
              text-decoration: underline;
            }
          }
        }

        .btn{
          margin-top: 32px;
          font-size: 14px;
          line-height: 14px;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
